<!DOCTYPE html>
<html>
<head>
    <title>Energy Clustering</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Cluster Household Energy Patterns</h1>
        <form method="POST" action="/result" enctype="multipart/form-data">
            <input type="file" name="file" required><br>
            <input type="number" name="clusters" placeholder="Number of clusters" required><br>
            <input type="submit" value="Cluster">
        </form>
    </div>
</body>
</html>
